.grid {
    display: grid
}

.gridTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.blogContainer {
    max-width: 1000px;
    width: 100%;
    margin: auto
}

/* About us Page */


/* #introduction {
    padding-top: 20px;
} */

.test {
    /* display: block; */
    margin: 50px auto;
    max-width: 800px;
    width: 100%;
}

.imageFlex {
    display: flex;
    align-items: center;
}

#image-center {
    display: block;
}

.title {
    margin: 30px 0px;
}

@media only screen and (max-width: 800px) {
    #introduction {
        width: 95%;
        margin: 0 auto;
    }

    .gridTwo {
        grid-template-columns: 1fr;
    }
}