.title {
    display: inline-block;
    text-transform: uppercase;
    background-color: gold;
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #666;
}